body {
  background: rgb(219, 238, 152);
}
h1 {
  text-align: center;
}
/*
  position: absolute;
  position: fixed;
  position: sticky;
*/
.caixa1 {
  position: relative;
  width: 200px;
  height: 200px;
  background: rgb(255, 166, 0);
  left: 50px;
}
.menuPrincipal {
  position: absolute;
  background: rgb(120, 128, 251);
  width: 100%;
  height: 45px;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li a:hover {
  background: rgba(255, 202, 57, 0.589);
}
.boxImage {
  position: absolute;
  width: 90%;
  height: 500px;
  background: rgb(255, 166, 0);
  top: 45px;
  left: 0;
  margin: 20px;
  border-color: black;
  border-width: 10px;
  border-style: solid;
  padding: 10px;
  display: flex;
  justify-content:center;
}
#mar {
  width: 800%;
  height: 500px;
}
.rodape {
  position: absolute;
  width: 100%;
  height: 50px;
  color: white;
  background: gray;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.conteudoHome {
  position: absolute;
  top: 45px;
}
#imagemHome {
  
}

