body{
  background: red;
}
h1 {
  text-align: center;
}
/*
position: absolute;
position: fixed;
position:
*/
.caixa1 {
  position: relative;
  width: 200px;
  height: 200px;
  background: #AABBBB;
  left: 50%
}
